In [1]:
import pandas as pd 
import numpy as np 
import sys

sys.path.append(r"C:\Users\radek\Git-Hub\Final_Project_Ironhack\00 - Utils")
import db_utils as db

In [2]:
sql= '''SELECT 
* 
FROM weather w
LEFT JOIN airquality_tmp_v2 a
ON w.datetime = a.Date AND w.address = a.City
WHERE w.address='Paris';'''

In [4]:
paris = pd.read_sql(sql, db.engine)

In [5]:
paris.head(2)

,latitude,longitude,address,datetime,datetimeEpoch,tempmax,tempmin,temp,humidity,precip,...,conditions,description,date,pm25,pm10,o3,no2,so2,co,City
0,48.8572,2.34141,Paris,2014-01-01,1388530800,10.5,6.7,8.4,85.06,1.82,...,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,2014-01-01,43.0,30.0,22.0,42.0,NaN,4.0,Paris
1,48.8572,2.34141,Paris,2014-01-02,1388617200,11.1,8.5,9.9,81.63,4.96,...,Rain,Clear conditions throughout the day with rain ...,2014-01-02,53.0,33.0,22.0,34.0,NaN,2.0,Paris

In [20]:
paris.to_csv(r'C:\Users\radek\Git-Hub\Final_Project_Ironhack\04 - Data Cleaning\Paris.csv', index_label=False)