In [1]:
import pandas as pd 
import numpy as np 
import sys

sys.path.append(r"C:\Users\radek\Git-Hub\Final_Project_Ironhack\00 - Utils")
import db_utils as db

In [24]:
sql= '''SELECT 
* 
FROM weather_tmp w
LEFT JOIN airquality_tmp a
ON w.datetime = a.Date AND w.address = a.City
WHERE w.address='Lyon';'''

In [25]:
lyon = pd.read_sql(sql, db.engine)

In [26]:
lyon.head(2)

,latitude,longitude,address,datetime,datetimeEpoch,tempmax,tempmin,temp,humidity,precip,...,description,Date,Country,City,co,no2,o3,pm10,pm25,so2
0,45.7592,4.82966,Lyon,2014-12-29,1419807600,0.7,-5.0,-2.2,67.21,0.2,...,Becoming cloudy in the afternoon with late aft...,2014-12-29,FR,Lyon,2.8,10.1,13.9,18.0,59.0,1.6
1,45.7592,4.82966,Lyon,2014-12-29,1419807600,0.7,-5.0,-2.2,67.21,0.2,...,Becoming cloudy in the afternoon with late aft...,2014-12-29,FR,Lyon,2.8,10.1,13.9,18.0,59.0,1.6

In [23]:
lyon.to_csv(r'C:\Users\radek\Git-Hub\Final_Project_Ironhack\04 - Data Cleaning\Lyon.csv', index_label=False)

In [27]:
lyon['year_month']=lyon['datetime'].dt.to_period('M')

In [28]:
lyon.head()

,latitude,longitude,address,datetime,datetimeEpoch,tempmax,tempmin,temp,humidity,precip,...,Date,Country,City,co,no2,o3,pm10,pm25,so2,year_month
0,45.7592,4.82966,Lyon,2014-12-29,1419807600,0.7,-5.0,-2.2,67.21,0.2,...,2014-12-29,FR,Lyon,2.8,10.1,13.9,18.0,59.0,1.6,2014-12
1,45.7592,4.82966,Lyon,2014-12-29,1419807600,0.7,-5.0,-2.2,67.21,0.2,...,2014-12-29,FR,Lyon,2.8,10.1,13.9,18.0,59.0,1.6,2014-12
2,45.7592,4.82966,Lyon,2014-12-30,1419894000,2.7,-1.2,0.9,77.20,0.0,...,2014-12-30,FR,Lyon,2.7,10.1,11.4,23.0,70.0,2.6,2014-12
3,45.7592,4.82966,Lyon,2014-12-30,1419894000,2.7,-1.2,0.9,77.20,0.0,...,2014-12-30,FR,Lyon,2.7,10.1,11.4,23.0,70.0,2.6,2014-12
4,45.7592,4.82966,Lyon,2014-12-31,1419980400,3.8,0.2,1.8,71.85,0.0,...,2014-12-31,FR,Lyon,2.5,9.2,16.3,20.0,59.0,5.1,2014-12

In [53]:
month_05 =lyon[lyon.year_month=='2021-05']
month_05 = month_05.drop_duplicates()
len(month_05)

31

In [54]:
month_06 =lyon[lyon.year_month=='2021-06']
month_06 = month_06.drop_duplicates()
len(month_06)

30

In [55]:
month_07 =lyon[lyon.year_month=='2021-07']
month_07 = month_07.drop_duplicates()
len(month_07)

31

In [56]:
month_08 =lyon[lyon.year_month=='2021-08']
month_08 = month_08.drop_duplicates()
len(month_08)

31

In [57]:
month_09 =lyon[lyon.year_month=='2021-09']
month_09 = month_09.drop_duplicates()
len(month_09)

30

In [71]:
month_10 =lyon[lyon.year_month=='2021-10']
month_10 = month_10.drop_duplicates()
len(month_10)

31

In [72]:
missing_pm = pd.concat([month_05,month_06,month_07,month_08,month_09,month_10])

In [73]:
missing_pm.shape

(184, 33)

In [67]:
missing_pm = missing_pm[['datetime', 'pm25']]

In [70]:
missing_pm.to_csv(r'C:\Users\radek\Git-Hub\Final_Project_Ironhack\04 - Data Cleaning\04-1- Data Cleaniang TS\miss25.csv', index_label=False)